.code {
  border: 1px solid var(--primary-color);
  padding: 20px;
  position: relative;
  overflow-x: auto;
  background: var(--code-bg);
  color: var(--primary-color);
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.copyIcon {
  stroke: var(--primary-color);
}
